@media only screen and (max-width: 586px){
  .tool-img a {
      left: 51px;
  }
  .skilline-bottom-heading {
      left: 43px;
  }    
  .racth-first {
      top: -19px;
      left: 34px;
  }
  .racth-scnd {
      display: none;
  }
  .polygon-sec {
      left: 175px;
      top: 76px;
  }
  .n-m-r{
      margin-left: 10px!important;
  }
  .subscribe input {
      width: 300px;
  }
}